[Unit]
Description=Auto commmit/fetch remote sysenv files
After=network.target

[Service]
ExecStart=/etc/sysenv/src/service/sysenv_service
#Restart=always
#StartLimitIntervalSec=1
#StartLimitBurst=1

[Install]
WantedBy=multi-user.target
