[Unit]
Description=Auto commmit/fetch remote sysenv files
After=network.target

[Service]
ExecStart=/etc/sysenv/src/sysenv service
Restart=always

[Install]
WantedBy=multi-user.target
